<h2><strong>Hi {{ name }},&nbsp;</strong></h2>
<table style="height: 50px; width: 629px;">
<tbody>
<tr style="height: 47.2188px;">
<td style="width: 623px; height: 47.2188px;">
<h3 style="text-align: center;">Your <em>{{ msg }}</em>&nbsp;is&nbsp;<span style="background-color: #ffcc00;">{{ token }}</span>.&nbsp;</h3>
</td>
</tr>
</tbody>
</table>
<p>This token will expire in {{ time }} minutes. If this is not you, kindly ignore this message.<img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-laughing.gif" alt="laughing" />&nbsp;</p>