{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href= {{ url_for('static', filename="css/forms.css")}}>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div id="logbox">
                <form method="post">
                    <h1>Password reset</h1>
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    {{ form.email(class="input pass", autofocus="autofocus", placeholder="Email", value=email) }}
                    {{ form.submit(class="inputButton", value="Continue")}}
                    <div class="text-center"> <a href= {{ url_for('signup') }} id="">Create a new account</a> &nbsp&nbsp <a href = {{ url_for('signin')}} id="">Signin</a> </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

