{% extends 'base.html' %}

{% block title %} Check {% endblock %}

{% block body %}
    {{ super() }}

    <style>
    </style>


    <p>The value of alpha is {{ obj.one }}</p>
    <h1>The value of the list is {{ obj.three[3] }}</h1>
    <h1>{{ str|safe }}</h1>

    <h1>
    {% if user %}
    Hello, {{ user }}!
    {% else %}
    Hello, Stranger!
    {% endif %}
    </h1>

    <ul>
        {% for elem in lis %}
            <li>{{ elem }}</li>
        {% endfor %}
    </ul>
{% endblock %}

<!-- obj, lis, str, user -->




